Repository innovationacademy-kr/42cabi_admin, pull requests merged in 2022-10, with the labels that each got.

#104 Dev #101
  backend/src/activation/repository/rawquery-activation.repository.ts
  backend/src/cabinet/repository/rawquery-cabinet.repository.ts
  backend/src/lent/repository/rawquery-cabinet.repository.ts
  backend/src/user/repository/rawquery-user.repository.ts
Labels: CHORE

#108 Sichoi.refactor #106
  backend/package-lock.json
  backend/package.json
  backend/src/activation/activation.module.ts
  backend/src/activation/activation.service.ts
  backend/src/activation/repository/activation.interface.repository.ts
  backend/src/activation/repository/activation.repository.ts
  backend/src/activation/repository/rawquery-activation.repository.ts
  backend/src/cabinet/cabinet.module.ts
  backend/src/cabinet/cabinet.service.ts
  backend/src/cabinet/repository/cabinet.interface.repository.ts
  backend/src/cabinet/repository/cabinet.repository.ts
  backend/src/cabinet/repository/memory-cabinet-repository.ts
  backend/src/cabinet/repository/rawquery-cabinet.repository.ts
  backend/src/lent/lent.controller.ts
  backend/src/lent/lent.module.ts
  backend/src/lent/lent.service.ts
  backend/src/lent/repository/lent.interface.repository.ts
  backend/src/lent/repository/lent.repository.ts
  backend/src/lent/repository/rawquery-cabinet.repository.ts
  backend/src/user/repository/user.interface.repository.ts
  backend/src/user/user.service.ts
Labels: CHORE, REFACTOR

#110 #106 Raw Query -> TypeORM
  backend/package-lock.json
  backend/package.json
  backend/src/activation/activation.module.ts
  backend/src/activation/activation.service.ts
  backend/src/activation/repository/activation.repository.interface.ts
  backend/src/activation/repository/activation.repository.ts
  backend/src/activation/repository/rawquery-activation.repository.ts
  backend/src/app.module.ts
  backend/src/cabinet/cabinet.module.ts
  backend/src/cabinet/cabinet.service.ts
  backend/src/cabinet/repository/cabinet.repository.interface.ts
  backend/src/cabinet/repository/cabinet.repository.ts
  backend/src/cabinet/repository/memory-cabinet-repository.ts
  backend/src/cabinet/repository/rawquery-cabinet.repository.ts
  backend/src/config/typeorm.config.ts
  backend/src/entities/ban.log.entity.ts
  backend/src/entities/cabinet.entity.ts
  backend/src/entities/event.entity.ts
  backend/src/entities/lent.entity.ts
  backend/src/entities/lent.log.entity.ts
  backend/src/entities/user.entity.ts
  backend/src/enums/cabinet.status.type.enum.ts
  backend/src/enums/lent.type.enum.ts
  backend/src/enums/user.state.type.enum.ts
  backend/src/lent/lent.controller.ts
  backend/src/lent/lent.module.ts
  backend/src/lent/lent.service.ts
  backend/src/lent/repository/lent.repository.interface.ts
  backend/src/lent/repository/lent.repository.ts
  backend/src/lent/repository/rawquery-cabinet.repository.ts
  backend/src/return/repository/rawquery.return.repository.ts
  backend/src/return/repository/return.repository.interface.ts
  backend/src/return/repository/return.repository.ts
  backend/src/return/return.module.ts
  backend/src/return/return.service.ts
  backend/src/search/repository/rawquery-search.repository.ts
  backend/src/search/repository/search.repository.interface.ts
  backend/src/search/repository/search.repository.ts
  backend/src/search/search.module.ts
  backend/src/search/search.service.ts
  backend/src/user/repository/rawquery-user.repository.ts
  backend/src/user/repository/user.repository.interface.ts
  backend/src/user/repository/user.repository.ts
  backend/src/user/user.module.ts
  backend/src/user/user.service.ts
Labels: REFACTOR

#107 FIX: Search - print undefined after return
  frontend/src/Modals/ReturnModal.tsx
  frontend/src/Pages/SearchDashboard.tsx
  frontend/src/type.ts
Labels: FIX

#129 Dev_FE_정보 표시를 위한 임시 수정
  frontend/src/App.tsx
  frontend/src/Components/NavBar.tsx
  frontend/src/Components/UserDetail.tsx
  frontend/src/Tables/BanUserTable.tsx
  frontend/src/Tables/PrevCabinetTable.tsx
  frontend/src/Tables/PrevUserTable.tsx
  frontend/src/Tables/banUserTableStruct.ts
Labels: FIX, front-end

#130 fix: 임시로 activation 값에 따른 메시지 출력안하도록 수정
  frontend/src/Components/CabinetDetail.tsx
  frontend/src/Components/UserDetail.tsx
Labels: FIX, front-end

#131 fix: activation 체크 메시지 패스 누락 부분 수정
  frontend/src/Components/CabinetDetail.tsx
Labels: FIX, front-end

#138 Be v3/common
  backend/src/app.module.ts
  backend/src/main.ts
  backend/src/return/return.controller.ts
  backend/src/v3/cabinet/cabinet.controller.ts
  backend/src/v3/cabinet/cabinet.module.ts
  backend/src/v3/cabinet/cabinet.service.ts
  backend/src/v3/cabinet/repository/cabinet.repository.interface.ts
  backend/src/v3/cabinet/repository/cabinet.repository.ts
  backend/src/v3/return/repository/return.repository.interface.ts
  backend/src/v3/return/repository/return.repository.ts
  backend/src/v3/return/return.controller.ts
  backend/src/v3/return/return.module.ts
  backend/src/v3/return/return.service.ts
  backend/src/v3/search/repository/search.repository.interface.ts
  backend/src/v3/search/repository/search.repository.ts
  backend/src/v3/search/search.controller.ts
  backend/src/v3/search/search.module.ts
  backend/src/v3/search/search.service.ts
  backend/src/v3/user/repository/user.repository.interface.ts
  backend/src/v3/user/repository/user.repository.ts
  backend/src/v3/user/user.module.ts
  backend/src/v3/user/user.service.ts
  backend/src/v3/v3.module.ts
Labels: Backend
