Repository innovationacademy-kr/42cabi_admin, pull requests merged in 2022-11, with the labels that each got.

#147 CHORE: Apply Vite to frontend
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/vite-env.d.ts
  frontend/tsconfig.json
  frontend/vite.config.ts
Labels: CHORE, front-end

#149 Dev #145
  backend/docker-compose.yml
  dev/nginx.conf
  frontend/vite.config.ts
Labels: CHORE, front-end, Backend

#153 Be v3/cabinet
  backend/src/v3/cabinet/cabinet.controller.ts
  backend/src/v3/cabinet/cabinet.service.ts
  backend/src/v3/cabinet/dto/cabinet.dto.ts
  backend/src/v3/cabinet/dto/cabinet.info.response.dto.ts
  backend/src/v3/cabinet/dto/cabinet.status.note.request.dto.ts
  backend/src/v3/cabinet/dto/cabinet.title.request.dto.ts
  backend/src/v3/cabinet/dto/lent.dto.ts
  backend/src/v3/cabinet/repository/cabinet.repository.interface.ts
  backend/src/v3/cabinet/repository/cabinet.repository.ts
Labels: FEAT, Backend

#156 Fe v3/reduxtoolkit
  frontend/src/Components/ButtonSet.tsx
  frontend/src/Components/CabinetDetail.tsx
  frontend/src/Components/ExpiredInfo.tsx
  frontend/src/Components/LentDisabled.tsx
  frontend/src/Components/NoPrevLog.tsx
  frontend/src/Components/UserDetail.tsx
  frontend/src/Modals/ActivationModal.tsx
  frontend/src/Modals/ReturnModal.tsx
  frontend/src/Pages/SearchDashboard.tsx
  frontend/src/Pages/Status.tsx
  frontend/src/Pages/Task.tsx
  frontend/src/Tables/BanCabinetTable.tsx
  frontend/src/Tables/BanUserTable.tsx
  frontend/src/Tables/DisabledTable.tsx
  frontend/src/Tables/ExpiredTable.tsx
  frontend/src/Tables/PrevCabinetTable.tsx
  frontend/src/Tables/PrevUserTable.tsx
  frontend/src/index.tsx
  frontend/src/redux/hook.ts
  frontend/src/redux/slices/searchResponseSlice.ts
  frontend/src/redux/slices/statusDisabledSlice.ts
  frontend/src/redux/slices/statusExpiredSlice.ts
  frontend/src/redux/slices/taskBanCabinetSlice.ts
  frontend/src/redux/slices/taskBanUserSlice.ts
  frontend/src/redux/store.ts
Labels: REFACTOR, front-end

#159 FEAT: 검색 페이지 동아리 사물함 정보 표시
  frontend/src/Components/CabinetDetail.tsx
  frontend/src/type.ts
Labels: FEAT, front-end
